body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg,#FF0066, #33FFFF);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
}
@media (max-width: 768px){
    body{
        background: linear-gradient(135deg,#FF0066, #33FFFF);
        animation: gradientAnimation 30s ease infinite;
    }
    a:hover{
        font-size: 80px;
        text-decoration: underline;
    }
}
@keyframes gradientAnimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    transition: font-size 10s, text-decoration 10s;
}
a:hover{
    font-size: 80px;
    text-decoration: underline;
}